name: CI-linux

on: [push]

jobs:

  build-LINUX:

    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Setup Maven
      run: sudo apt-get install maven

    - name: Setup MySQL
      run: sudo apt-get install mysql-server -y
      
    - name: Start MySQL service
      run: sudo service mysql start
        
    - name: Create database and user
      run: |
          mysql -u root -proot -e "CREATE DATABASE vollmed_api_test;"
          mysql -u root -proot -e "CREATE DATABASE vollmed_api;"
          mysql -u root -proot -e "CREATE USER 'root'@'%' IDENTIFIED BY 'root';"
          mysql -u root -proot -e "GRANT ALL PRIVILEGES ON vollmed_api_test.* TO 'root'@'%';"
          mysql -u root -proot -e "GRANT ALL PRIVILEGES ON vollmed_api.* TO 'root'@'%';"

    - name: Build and Run the Project
      run: |
        cd $GITHUB_WORKSPACE
        mvn clean install
        #java -jar target/api-0.0.1-SNAPSHOT.jar.original
  
  build:
    needs: build-LINUX
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: |
        cd $GITHUB_WORKSPACE
        mvn clean install
        java -jar target/api-0.0.1-SNAPSHOT.jar
  
      
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
    # Artifact name
        name: programa
    # A file, directory or wildcard pattern that describes what to upload
        path: main
  
  Deploy_EC2:
    needs: build
    uses: ./.github/workflows/ec2-aws.yml
    secrets: inherit
        
        
  
        
  
    
        
