name: Build and Run API

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  install-and-create-db:
    runs-on: ubuntu-latest
    steps:
      - name: Install MySQL
        run: sudo apt-get install mysql-server -y
      
      - name: Start MySQL service
        run: sudo service mysql start
        
      - name: Create database and user
        run: |
          mysql -u root -proot -e "CREATE DATABASE vollmed_api;"
          mysql -u root -proot -e "CREATE USER 'root'@'%' IDENTIFIED BY 'root';"
          mysql -u root -proot -e "GRANT ALL PRIVILEGES ON vollmed_api.* TO 'root'@'%';"
          
  nodeinstall: 
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.5.2
        with:
          # Set always-auth in npmrc
           #always-auth: # optional, default is false
          # Version Spec of the version to use.  Examples: 12.x, 10.15.1, >=10.15.0
           node-version: 12
          # File containing the version Spec of the version to use.  Examples: .nvmrc, .node-version
           #node-version-file: # optional
          # Target architecture for Node to use. Examples: x86, x64. Will use system architecture by default.
          # architecture: # optional
          # Set this option if you want the action to check for the latest available version that satisfies the version spec
          # check-latest: # optional
          # Optional registry to set up for auth. Will set the registry in a project level .npmrc and .yarnrc file, and set up auth to read in from env.NODE_AUTH_TOKEN
          # registry-url: # optional
          # Optional scope for authenticating against scoped registries
           #scope: # optional
          # Used to pull node distributions from node-versions.  Since there's a default, this is typically not supplied by the user.
           #token: # optional, default is ${{ github.token }}
          # Used to specify a package manager for caching in the default directory. Supported values: npm, yarn, pnpm
          # cache: # optional
          # Used to specify the path to a dependency file: package-lock.json, yarn.lock, etc. Supports wildcards or a list of file names for caching multiple dependencies.
          # cache-dependency-path: # optional
          # Deprecated. Use node-version instead. Will not be supported after October 1, 2019
         #version: # optional
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Start MySQL
      run: |
        sudo service mysql start
        mysql -u root -proot -e "CREATE DATABASE IF NOT EXISTS vollmed_api"

    - name: Run API
      run: java -jar target/api.jar
