name: Build and Run API

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  install-and-create-db:
    runs-on: ubuntu-latest
    steps:
      - name: Install MySQL
        run: sudo apt-get install mysql-server -y
      
      - name: Start MySQL service
        run: sudo service mysql start
        
      - name: Create database and user
        run: |
          mysql -u root -proot -e "CREATE DATABASE vollmed_api;"
          mysql -u root -proot -e "CREATE USER 'root'@'%' IDENTIFIED BY 'root';"
          mysql -u root -proot -e "GRANT ALL PRIVILEGES ON vollmed_api.* TO 'root'@'%';"
  
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Install Dependencies
      run: npm install
      
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'

    - name: Build with Maven
      run: mvn package --file pom.xml

    - name: Start MySQL
      run: |
        sudo service mysql start
        mysql -u root -proot -e "CREATE DATABASE IF NOT EXISTS vollmed_api"

    - name: Run API
      run: java -jar target/api.jar
